import React, { Component, PropTypes } from 'react';
import { connect } from 'react-redux';
{{#if wantHeaders}}
import Helmet from 'react-helmet';
{{/if}}
{{#if wantActionsAndReducer}}
import stateDataSelector from './selectors';
{{/if}}
{{#if wantCSS}}
import styles from './styles.css';
{{/if}}

export class {{ properCase name }} extends Component { // eslint-disable-line react/prefer-stateless-function
  static propTypes = {} 

  render() {
    return (
      <div>
      {{#if wantHeaders}}
        <Helmet
          title="{{properCase name}}"
          meta={{curly true}}[ {{curly true}} name: 'description', content: 'Description of {{properCase name}}' {{curly}} ]{{curly}}
        />
      {{/if}}
        🔨 {{ properCase name }}
      </div>
    );
  }
}

{{#if wantActionsAndReducer}}
const mapStateToProps = stateDataSelector();
{{/if}}

const mapDispatchToProps = (dispatch) => ({
  dispatch,
});

{{#if wantActionsAndReducer}}
export default connect(mapStateToProps, mapDispatchToProps)({{ properCase name }});
{{else}}
export default connect(mapDispatchToProps)({{ properCase name }});
{{/if}}

// Добавить в routes.js:
// import {{ properCase name }} from 'components/{{ properCase name }}';
// <Route path="/{{ properCase name }}" component={ {{ properCase name }} }></Route>
