import React, { PropTypes } from 'react';

import styles from './styles.css';

const {{ properCase name }} = () => (
  <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
    🔨 {{ properCase name }}
  </div>
);

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
